.kaikki {
    margin: auto;
    width: 600px;
    border-style: dashed;
    padding: 1%;
    background-color: grey;
    margin-top: 40px;
    text-align: center;
}
.lista{
    margin:auto;
    width: 600px;
    border-style: dashed;
    padding: 1%;
    background-color: grey;
    margin-top: 40px;
    text-align: center;
}
.joke-cont{
    background-color: white;
    border-style: dashed;
    padding: 1%;
    border-radius: 20px;
}
.laskurit{
    background-color: white;
    border-style: dashed;
    padding: 1%;
    border-radius: 20px;
    margin-left: 40%;
    margin-right: 40%;
}



